:root {
  --card-width: 85px;
  --card-slot: calc(var(--card-width) + 20px);
  --bwidth: 16px;
  --outerRot: -90deg;
  --innerRot: 90deg;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #016F32;
  color: white;
  text-align: center;
  font-size: max(5vh, 18px);
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.game-title {
  color: goldenrod;
  height: 10vh;
  min-height: 40px;
  font-size: max(10vh, 40px);
  padding-bottom: 1.5vh;
}

button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
  justify-self: center;
  align-self: center;
  background-color: goldenrod;
  color:#016F32;
  width: 150px;
  height: max(4vh, 40px);
  font-size: min(3vh, 24px);
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 2px;
  border-style: none;
  margin: 3px;
  padding: 0;
}

#message-el {
  font-style: italic;
  height: min(5vh, 10vw);
  margin: 1px 0;
  padding-bottom: 1vh;
}

#limitations, #rules {
  font-size: 12px;
  font-weight: normal;
  margin: .25em 0;
  padding: 0;
}

#limitations p {
  margin: 0;
  text-align: center;
}

.card {
  display: flex;
  border:solid black 1px;
  width: var(--card-width);
  height: 125px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: green;
  border-radius: 6px;
  flex-direction: column;
  padding: 2px;
}

.tiny-card-top, .tiny-card-bottom {
  display: flex;
  width: 40%;
  align-items: center;
  background-color: white;
  color: green;
  height: 15%;
  font-size: 1rem;
  padding: 0 2px;
}

.tiny-card-top {
  order: -1;
  align-self: flex-start;
  justify-content: flex-start;
}

.tiny-card-bottom {
  order: 2;
  align-self: flex-end;
  justify-content: flex-end;
}

.red, .lose, .error {
  color: red;
}

.black {
  color: black;
}

.win, .bj {
  color:lawngreen;
}

.push {
  color:darkblue;
}

.face-down {
  color: blue;
  background-color: blue !important;
}

.card-holder {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.bet-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.chips-to-bet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 10px;
  height: 35vh;
  justify-content: flex-start;
}
.chip {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: var(--bwidth) solid ivory;
  border-top: var(--bwidth) solid white;
  border-bottom: var(--bwidth) solid white;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  background-color:rgba(255, 255, 255, 0.753);
  color: black;
  transform: rotate(var(--outerRot));
}

.inner-chip {
  border: calc(var(--bwidth) * .5) solid ivory;
  border-top: calc(var(--bwidth) * .5) solid black;
  border-bottom: calc(var(--bwidth) * .5) solid black;
  margin: -50%;
  transform: rotate(var(--innerRot));
}

.ones, .chip1 {
  display: none;
  border-top-color: bisque;
  border-bottom-color: bisque;

}

.hundreds, .chip100 {
  border-top-color: black;
  border-bottom-color: black;
}

.fives, .chip5 {
  border-top-color: red;
  border-bottom-color: red;
}

.tens, .chip10 {
  border-top-color: darkblue;
  border-bottom-color: darkblue;
}

.quarters, .chip25 {
  border-top-color: limegreen;
  border-bottom-color: limegreen;

}

.card-buttons, .bet-buttons {
  display: flex;
  flex-direction: column;
}

.undisplayed {
  display: none;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#bet-buttons-text {
  margin: 0 2px 2px 2px;
}

.owned-bet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px 0 0;
  padding: 2px 10px 0 5px;
  font-size: 24px;
}

.chips-owned, .chips-bet {
  justify-content: center;
  width: 75px;
}

.chips-bet-text, .owned-text {
  margin-top: 5px;
  width: 100px;
}
@media screen and (min-height: 525px) {
  .chips-to-bet {
    height: 30vh;
  }
}
@media screen and (min-height: 625px) {
  .chips-to-bet {
    height: 25vh;
  }
}
@media screen and (min-width: 550px) {
  .chips-to-bet {
    padding: 0 50px;
  }
}
@media screen and (min-width: 500px) {
  body {
    max-width: 1000px;
  }
  .chips-to-bet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .owned-bet {
    flex-direction: row;
    margin-top: 10px;
  }

  button {
    width: 250px;
    height: max(5.5vh, 40px);
    font-size: min(8vh, 36px);
    font-weight: 900;
    margin: 3px;
  }

  .chip {
    height: 50px;
    width: 50px;
    font-size: 22px;
  }

}