body {
  background-color: #016F32;
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: goldenrod;
}

button {
  background-color: goldenrod;
  color:#016F32;
  width: 250px;
  height: 55px;
  font-size: 36px;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 2px;
  border-style: none;
  margin: 2px;
}

#message-el {
  font-style: italic;
}

.limitations, .rules, .limitations p {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
