html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-decoration: none;
}

.flex-head, .flex-middle, .flex-footer {
  display: flex;
  flex-direction: row;
}

.flex-head {
  background-color: steelblue;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 75%;
  text-align: center;
  min-width: 155px;
}

.header h1 {
  font-size: 36px;
}
.biopic {
  flex: 25%;
}

.biopic img {
  object-fit: scale-down;
  object-position:center;
  min-height: 50px;
  min-width: 50px;
  max-width: 200px;
  max-height: 200px;
}

.flex-middle {
  height: 65vh;
}

.flex-footer {
  min-height: 5vh;
  height: 10vh;
}
.flex-main {
  flex: 75%;
  padding: 0 15px;
  overflow: auto;
  background-color:rgb(177, 229, 238);
}

.flex-menu {
  flex: 10%;
  flex-direction: column;
  margin: 0;
  background-color:rgb(3, 20, 45);
  font-size: 1.25rem;
  min-height: 50%;
  height: 100%;
  justify-content: space-around;
  min-width: 150px;
}

.menuchoice {
  text-align: left;
  /*letter-spacing: 0.08rem;
  justify-content: space-around;*/
}

.menuchoice a {
  padding: 15px 10px;
  text-decoration: none;
  color: ghostwhite;
  display: block;
}

.menuchoice a:hover {
  background-color: lightskyblue;
  color: rgb(3, 20, 45);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: unset;
  border-radius: 10px;
}

.active {
  background-color:rgb(57, 225, 255);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
}

.active a {
  color:rgb(3, 20, 45);
}

.active a:hover {
  background-color:rgb(57, 225, 255);
  color:rgb(3, 20, 45);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
}

.footer {
  flex: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects, .repositories {
  width: 100%;
  display:inline-block;
  padding: 10px;
}

.project {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color:rgb(3, 20, 45);
  margin-bottom: 15px;
}

.projectname, .repolink {
  width: 10%;
  min-width: 115px;
  max-width: 115px;
  display: inline-block;
  padding: 10px;
  border-style: solid;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.repolink {
  display: block;
}

.project a, .repo a {
  text-decoration: none;
  color:rgb(3, 20, 45);
  display: inline-block;
  border-color: skyblue;
  border-radius: 5px;
  border-width: 1px;
  background-color:skyblue;
  margin: 5px;
  text-align: center;
}

.project a:hover, .repo a:hover {
  font-size: larger;
}

.projectdesc {
  width: 85%;
  padding: 10px;
  margin: 10px 5px;
  display: inline-block;
}

.reposection {
  margin: 10px;
}

.assignments, .allrepos {
  border-bottom: rgb(3, 20, 45);
  border-bottom-style: solid;
  padding: 0 0 10px 0;
}

.allrepos {
  padding: 15px 0 10px 0;
}

.flex-footer {
  color: white;
  background-color: steelblue;
}